body {
    /* ref: https://fonts.google.com/specimen/Source+Sans+Pro?selection.family=Source+Sans+Pro */
    font-family:   helvetica neue, system, "Source Sans Pro", sans-serif;
    font-size: 14px;
    color: rgb(136, 133, 133);
    padding: 1em 2em;
  }

  h2 {
    text-align: left;
    font-family: helvetica neue thin, helvetica neue, "Source Sans Pro", sans-serif;
    font-size: 24px;
    color:  rgb(64, 68, 68);
    font-weight:normal;
  }
  
  .dot {
    cursor: pointer;
  }
  
  .dot:hover {
    fill: rgb(201, 9, 82);
  }
  
 